@page {
  margin-left: 0.2cm;
  margin-right: 0.2cm;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
}
.row {
    float: clear;
}
.left {
    width: 50%;
    float: left;
}
.right {
    width: 50%;
    float: left;
}
.center {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.label {
    font-weight: bold;
}
