<html>
<head>
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/customDisplayControl/css/print/custom-printref.css" media="print"/>
</head>
<body>
<br><br>
<div class="footer-referralform">
	<span class="increased-font">
	<span class="increased-font" class="fl"><b>Instructions on discharge : </b>{{obsDischarge.valueAsString}}</span><br><br><br>
	<span class="increased-font" class="fl"><b>Follow up date :</b> {{obsFollowUpDate.valueAsString|date:'dd-MMM-yyyy'}}</span><br> <br><br>
	<span class="increased-font" class="fl"><b>Follow up notes :</b> {{obsFollowUpNote.valueAsString}}</span><br> <br><br>
    <span class="increased-font" class="fl">Signature</span> <br> <br> <br> <br><br>
    <span class="increased-font" class="fl">{{obsDischarge.providers[0].name}}</span>
    <br><br>
    <span class="increased-font">Date : {{curDate |date:'dd-MMM-yyyy HH:MM'}}</span>
</div>
</body>
</html>